/* position: absolute работает только внутри родительского блока, у которого стоит position: relative */
/* static, relative, absolute, fixed, inherit */
/* buttom, top, right, left */

* { /* относится ко всему, что есть на странице */
    box-sizing: border-box;
}

body {
    background-color: rgb(75, 70, 63);
}

hr { 
    margin: 20px;
}

h4 {
    color: rgb(20, 12, 3);
    text-align: center;
}

p {
    font-size: 13px;
}

img {
    display: inline-block;
    margin: 10px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid rgb(20, 12, 3);
    float: right;
}

.toleonwerth {
    position: relative;
    display: inline-block;
    width: auto;
    background-color: rgb(119, 93, 88);
    padding: 20px;
    border: 3px solid rgb(20, 12, 3);
    margin: 5px 20px;
    z-index: 3;
}

.oncewhen {
    position: relative;
    display: inline-block;
    width: auto;
    background-color: rgb(119, 93, 88);
    padding: 20px;
    border: 3px solid rgb(20, 12, 3);
    margin: 5px 20px;
    z-index: 3;
}

.klobouk {
    display: inline-block;
    margin: 10px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid rgb(20, 12, 3);
    float: left;
} 

.soilived {
    position: relative;
    display: inline-block;
    width: auto;
    background-color: rgb(119, 93, 88);
    padding: 20px;
    border: 3px solid rgb(20, 12, 3);
    margin: 5px 20px;
    z-index: 3;
}

.nemocnybarashek {
    display: inline-block;
    margin: 10px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid rgb(20, 12, 3);
    float: left;
}

.beran {
    display: inline-block;
    margin: 10px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid rgb(20, 12, 3);
    float: right;
}

.starybaranek {
    display: inline-block;
    margin: 10px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid rgb(20, 12, 3);
    float: left;
}
